# Postgres

## Default Account
DB_NAME=media_platform
DB_USERNAME=postgres
DB_PASSWORD=postgres

## Media Service Account
MEDIA_SERVICE_DB=media_service
MEDIA_SERVICE_USER=media_service_user
MEDIA_SERVICE_PASSWORD=media_service_password